<%= render 'layouts/header' %>

<div class="pnr">
	<div class="container">
		
		<h2>Reservation Details</h2>
		<table>
			<tr><td>Confirmation #</td><td><%= @pnr.rcrd_loc %></td></tr>
			<tr><td>Passenger</td> <td><%= @pnr.last_name %>, <%= @pnr.first_name %></td> </tr>
			<tr><td></td><td>(<%= @pnr.email %>)</td></tr>
			<tr><td>A-List Status</td><td><% if @pnr.a_list %>Yes<% else %>No<% end %></td></tr>
		</table>
		
		<h2>Flights</h2>
		<table class='segments'>
			<tr><th>Flt #</th> <th>Route</th> <th>Flt Time</th> <th>Check-in</th></tr>
			<% @segments.each do |s| %>
			<tr><td><%= s.flt_num %></td> <td><%= s.od %></td> <td><%= s.flt_time %></td> <td><%= s.checkin_time %></td></tr>
			<% end %>
		</table>
	</div>
</div>