<%= render 'layouts/header' %>

<div class="pnr">
	<div class="container">
		<h2>Reservation Details</h2>
		<table>
			<tr><td>Confirmation #</td><td><%= @pnr.rcrd_loc %></td></tr>
			<tr><td>Passenger</td> <td><%= @pnr.last_name %>, <%= @pnr.first_name %></td> </tr>
			<tr><td></td><td>(<%= @pnr.email %>)</td></tr>
			<tr><td>A-List Status</td><td><% if @pnr.a_list %>Yes<% else %>No<% end %></td></tr>
		</table>
		<h2>Flights</h2>
	</div>
</div>